@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #3d3935;
    font-size: 0.96rem;
}

.bg-image {
    background-color: #efefef;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

::selection {
    color: white;
    background-color: #007042;
}